@import "tailwindcss";

.hero{
   background-image: url(bg.jpg);
    height: 262px;
    width: 90vw;
    justify-self: anchor-center;
    justify-items: center;
    margin-top: 20px;
    border-radius: 10px;

    background-position: center center;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    position: relative;
}

.box {
    opacity: 0.7;
    width: 100%;
    position: absolute;
    top: 0;
    height: 100vh;
    background-color: black;
}

.navbar{
       background-color: #51d2d6;

}


.preview-blur {
  filter: blur(3px);
  pointer-events: none;
  opacity: 0.6;
}
